{{ define "main" }}
  <main class="article-page">
    <article>
      {{ with .Params.categories }}
        <p class="post-categories">
          Categories:
          {{ range $i, $cat := . }}
            {{ if $i }}, {{ end }}
            <a href="/?category={{ $cat | urlize }}">{{ $cat }}</a>
          {{ end }}
        </p>
      {{ end }}

      {{ with .Params.category }}
        <p class="post-category">{{ . }}</p>
      {{ end }}

      <h1>{{ .Title }}</h1>

      <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format site.Params.dateFormat }}
        </time>

        <span class="post-meta-separator" aria-hidden="true">·</span>

          <span class="post-views">
            <span aria-hidden="true">/</span>
            <span class="view-count" data-post="{{ .RelPermalink }}">0</span>
            <span aria-hidden="true">views</span>
          </span>
      </p>

      {{ with .Params.thumbnail }}
        <img class="article-image" src="{{ . }}" alt="{{ $.Title }}">
      {{ end }}

      <div class="article-content">
        {{ .Content }}

      </div>

    </article>

      <p class="back-link">
        <a href="/">← Back to home</a>
      </p>

  </main>

{{ end }}
