/* = = = = = = header.css Starts Here = = = = = = */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 0;
    background-color: var(--panel-background);
}

header h1 {
    display: flex;
    align-items: center;
    text-decoration: none;

    width: 32px;
    height: 64px;
    margin: 0;
    padding: 32px 32px;
    color: white;
}

header h1 img {
    display: block;
    width: auto;
    height: 48px;
    object-fit: center;
}

header nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul {
    display: flex;
    height: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a {
    display: flex;
    align-items: center;

    padding: 0 32px;
    color: white;
    text-decoration: none;
}

header nav li {
    display: flex;
}

header nav a:hover {
    background-color: #767676;
}

/* = = = = = = Header Buttons Starts Here = = = = = = */

.HeaderButtons {
    height: 64px;
    padding: 0 32px;
    border: 0;
    color: white;
    font: inherit;
    cursor: pointer;

    background-repeat: repeat;
    background-position: left center;
    background-size: 26px 22px;

    image-rendering: pixelated;
}

.HeaderButtons:hover {
    filter: brightness(1.5);
}

.HeaderButtons:active {
    transform: translateY(-2px) scale(1.03);
    box-shadow:
    0 5px 10px rgb(0 0 0 / 40%),
    inset 0 0 0 2px rgb(255 255 255 / 45%);
}

/* = = = = = = Header Buttons Ends Here = = = = = = */

/* = = = = = = header.css Ends Here = = = = = = */
